@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #c9a975;
  --color-secondary: #a68b60;
  --color-light: #544731;
  --color-dark-1: #382F21;
  --color-dark-2: #302719;
  --color-progress-bar: #7d4822;
  --color-nav-footer: #e4c087;
  --color-light-input: #E5CF8A;
  --color-external-links: #1f1910;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}