@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #c9a975;
  --color-secondary: #a68b60;
  --color-light: #544731;
  --color-dark-1: #382f21;
  --color-dark-2: #302719;
  --color-progress-bar: #7d4822;
  --color-nav-footer: #e4c087;
  --color-light-input: #e5cf8a;
  --color-external-links: #1f1910;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
  scroll-padding-top: 6rem;
}

body {
  background-color: var(--color-primary);
}

/*----------header-----------*/
header {
  background-color: var(--color-nav-footer);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 4px 10px;
  padding-right: 30px;
  z-index: 10;
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: auto;
}

.menu-icons {
  display: flex;
  flex-direction: column;
}

.toggle-header-menu-icon,
.close-header-menu-icon {
  font-size: 2.5rem;
  transform: translateY(-1.35rem);
  transition: opacity 250ms ease-in-out, transform 250ms ease-out;
}

.close-header-menu-icon {
  opacity: 0;
}

.header-menu:has(> #toggle-header-menu:checked) .menu-icons > * {
  transform: translateY(1.25rem);
}

.header-menu:has(> #toggle-header-menu:checked)
  .menu-icons
  > .toggle-header-menu-icon {
  opacity: 0;
}

.header-menu:has(> #toggle-header-menu:checked)
  .menu-icons
  > .close-header-menu-icon {
  opacity: 1;
}

#toggle-header-menu {
  display: none;
}

.header-menu-links {
  list-style: none;
  background-color: var(--color-secondary);
  padding: 15px;
  position: absolute;
  right: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transform: translateY(-2.5rem);
  transition: transform 400ms ease-in-out, visibility 100ms 50ms ease-in-out;
}

#toggle-header-menu:checked + .header-menu-links {
  visibility: visible;
  transform: translateY(0);
}

.header-menu-links > * {
  transform: translateY(-1.5rem);
  visibility: hidden;
  transition: transform 200ms ease-in-out, visibility 100ms 50ms ease-in-out;
}

#toggle-header-menu:checked + .header-menu-links > * {
  visibility: visible;
  transform: translateY(0);
}

.header-menu-links > *:not(:last-of-type) {
  margin-bottom: 20px;
}

.header-menu-link {
  font-size: clamp(1.5rem, 3.35vw, 2rem);
  font-weight: 800;
  color: var(--color-dark-2);
  text-decoration: none;
}

/*----------main content-----------*/
main {
  background-color: var(--color-secondary);
  width: min(91vw, 1250px);
  margin-inline: auto;
}

.about-me,
#my-skills {
  padding-inline: max(1rem, 5vw);
  padding-block: max(1rem, 2.5vw);
}

.about-me {
  position: relative;
  margin-top: max(1.5rem, 3.5vw);
}

#my-skills {
  margin-top: max(1.5rem, 2vw);
}

.about-me::after {
  content: "";
  background-color: var(--color-primary);
  height: 4px;
  left: 1.5rem;
  right: 1.5rem;
  filter: blur(3px);
  position: absolute;
  bottom: -2svh;
}

.name,
.skills-title {
  color: var(--color-dark-2);
  margin-bottom: 1.5rem;
}

.name {
  font-size: clamp(2.25rem, 5vw, 3.25rem);
}

.skills-title {
  font-size: clamp(1.75rem, 4.5vw, 2.75rem);
  font-weight: 600;
}

.description,
.skill-name {
  color: var(--color-dark-1);
  font-size: clamp(1.25rem, 2.75vw, 1.5rem);
  text-align: justify;
  line-height: 1.8;
}

.skill-name {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.description:first-of-type {
  margin-bottom: 1.5rem;
}

.skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 7rem;
  row-gap: 2.25rem;
}

.progress-bar-container {
  border: 3px solid #000;
  border-radius: 10px;
  height: fit-content;
  background-color: var(--color-dark-1);
}

.progress-bar-container > * {
  height: 1.4rem;
  background-color: var(--color-progress-bar);
  border-radius: 10px;
}

.progress-bar-99 {
  width: 99%;
  animation: prog-bar-99-animation 5s linear infinite;
}

.progress-bar-95 {
  width: 95%;
  animation: prog-bar-95-animation 5s linear infinite;
}

.progress-bar-97 {
  width: 97%;
  animation: prog-bar-97-animation 5s linear infinite;
}

.progress-bar-30 {
  width: 30%;
  animation: prog-bar-30-animation 5s linear infinite;
}

.skill-percentage {
  color: var(--color-light);
  animation: show-skill-percentage-anim 5s linear infinite;
}

@keyframes prog-bar-99-animation {
  0% {
    width: 0%;
  }
  75% {
    width: 99%;
  }
}

@keyframes prog-bar-95-animation {
  0% {
    width: 0%;
  }
  75% {
    width: 95%;
  }
}

@keyframes prog-bar-97-animation {
  0% {
    width: 0%;
  }
  75% {
    width: 97%;
  }
}

@keyframes prog-bar-30-animation {
  0% {
    width: 0%;
  }
  75% {
    width: 30%;
  }
}

@keyframes show-skill-percentage-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

/*-------------banner--------------*/
.banner {
  width: min(91vw, 1125px);
  margin-inline: auto;
  margin-top: max(1.5rem, 3.5vw);
  position: relative;
}

.banner > a,
.banner-img {
  display: block;
  width: 100%;
  height: 100%;
}

.banner-img {
  object-fit: cover;
  border-radius: 25px;
  opacity: 0.45;
}

.banner-text {
  position: absolute;
  color: var(--color-dark-2);
  font-weight: 800;
  font-size: clamp(1.5rem, 2.75vw, 2rem);
  width: fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
}

.banner::before,
.banner > a::after,
.banner > a::before {
  content: "";
  position: absolute;
  inset: 7%;
}

.banner::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.banner > a::after {
  border-inline: 2px solid var(--color-dark-2);
  transform: scale(1, 1.05);
}

.banner > a::before {
  border-block: 2px solid var(--color-dark-2);
  transform: scale(1.05, 1);
}

/*------------contact form------------*/
#contact-form {
  --_default-form-font-size: clamp(1.125rem, 2.5vw, 1.35rem);

  width: min(91vw, 1000px);
  margin-inline: auto;
  margin-top: max(2.5rem, 4.5vw);
  color: var(--color-dark-1);
  background-color: var(--color-secondary);
  padding-inline: max(2.5rem, 2.5vw);
  padding-block: max(1.5rem, 2vw);
  font-size: var(--_default-form-font-size);
}

#contact-form fieldset {
  border: none;
}

#contact-form > *:not(:last-child) {
  margin-bottom: 3.5rem;
}

#contact-form :is(input, textarea) {
  background-color: var(--color-light-input);
  accent-color: var(--color-dark-1);
  caret-color: var(--color-dark-1);
  color: var(--color-dark-1);
  border: 2px solid var(--color-dark-2);
}

#contact-form :is(input, textarea):focus-visible {
  outline: 2px solid var(--color-dark-2);
}

#contact-form
  :is(.form-radio-group, .question-group-title, .form-buttons, .form-title) {
  width: fit-content;
  margin-inline: auto;
}

#contact-form .form-title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 600;
}

.form-group > :is(input, textarea) {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: var(--_default-form-font-size);
}

.main-info {
  --_ideal-size: 250px;
  --_max-column-count: 2;
  --_column-gap: 2rem;

  /*creates a grid with 2 columns max*/
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(
        max(
          100% / var(--_max-column-count) - var(--_column-gap),
          var(--_ideal-size)
        ),
        100%
      ),
      1fr
    )
  );
  column-gap: var(--_column-gap);
  row-gap: 1rem;
}

.form-radio-group input {
  transform: scale(1.4);
  vertical-align: baseline;
}

.question-group .form-radio-group input {
  margin-left: 0.5rem;
}

.additional-info > .form-radio-group input {
  margin-right: 0.5rem;
}

.additional-info > *:not(:last-child) {
  margin-bottom: 2rem;
}

.question-group > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.question-group-title {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
  font-weight: 500;
}

.form-buttons > * {
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: var(--_default-form-font-size);
}

#contact-form .form-buttons > .form-reset {
  background-color: var(--color-dark-1);
  color: var(--color-primary);
  margin-right: 2.5rem;
}

/*--------------footer--------------*/
footer {
  background-color: var(--color-nav-footer);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: max(1.5rem, 3.5vw);
  padding-block: 1.5rem;
  display: flex;
  justify-content: center;
  gap: max(3rem, 10vw);
}

.footer-link > * {
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--color-external-links);
}